################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TextQtWidget/bin
/qt-sharp/obj/Debug/qt_mono-sharp.dll
/qt-sharp/obj/Debug/qt_mono-sharp.pdb
/qt-sharp/obj/Debug
/qt_mono-sharp/obj/Debug
/qt_mono-sharp/.vs
/libqt-sharp
/.vs/qt_mono-sharp
/example/obj/x64/Debug
/example/bin/Debug
